<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529007341769-imkam74khf8k1mrdknrg55nub6h5660g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529007341769-imkam74khf8k1mrdknrg55nub6h5660g</string>
	<key>API_KEY</key>
	<string>AIzaSyCxbkxcIMd32ggvlX-lcoqhkVJ6qUy7tek</string>
	<key>GCM_SENDER_ID</key>
	<string>529007341769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.luis.Pruebabambu</string>
	<key>PROJECT_ID</key>
	<string>examensingin</string>
	<key>STORAGE_BUCKET</key>
	<string>examensingin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529007341769:ios:e64997fce93490d5675d18</string>
</dict>
</plist>